/* about.css */
main {
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 50%;
    margin: 0 auto;
}

main ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

main ul li {
    margin-bottom: 10px;
}


