/* merch.css */
main h2 {
        font-size: 2.5rem;
        font-style: bold;
        margin-bottom: 20px;
    }

main ul {
    list-style: none;
    text-align: center;
}

main ul li a {
    color: #282828;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.2s;
}

main ul li a:hover {
    color: #fabd2f;
}